<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 

<body>

<%- include("./partials/header") %>

<!-- Banner-->
      <section>
            <div class="banner">
                <div class="conteiner">
                    <h1>Ahorra un 50%</h1>
                        <p>en el primer año del seguro</p>
                        <button>Ver más</button>
                </div>
            </div>
      </section>
<!-- Contenedor-->
     
      <div class="max-conteiner">

<!-- Filtros-->

<%- include("./partials/filtros") %>

<!-- Tarjetas-->

    <section class="seccion1" >

        <%- include("./partials/card") %>
      </section>
  </div>

  <%- include("./partials/footer") %>

</body>
</html>